<h2 class="text-center text-uppercase fw-bold txt-color text-decoration-underline">Reset Password</h2>
<!--Start Send Email -->
<section *ngIf="step1">
  <form
    class="mx-auto my-5 form-login bg-color txt"
    [formGroup]="sendEmailForm"
    (ngSubmit)="handlesendEmailForm(sendEmailForm)"
  >
    <h3 class="title">Send Your Email</h3>
    <!-- Email -->
    <label for="email" class="fw-bold txt-color">Email:</label>
    <input
      type="email"
      id="email"
      class="form-control my-2"
      placeholder="Email"
      formControlName="email"
      [ngClass]="{
        'is-invalid':
          sendEmailForm.get('email')?.invalid &&
          sendEmailForm.get('email')?.touched,
        'is-valid':
          sendEmailForm.get('email')?.valid &&
          sendEmailForm.get('email')?.touched
      }"
    />
    <div
      class="alert alert-danger p-1"
      *ngIf="
        sendEmailForm.get('email')?.errors &&
        sendEmailForm.get('email')?.touched
      "
    >
      <p
        *ngIf="sendEmailForm.get('email')?.getError('required')"
        class="m-0 text-danger"
      >
        Email is required
      </p>
      <p
        *ngIf="sendEmailForm.get('email')?.getError('email')"
        class="m-0 text-danger"
      >
        Email is inValid
      </p>
    </div>
    <button
      type="submit"
      class="btn bg-main text-white d-block mx-auto mt-3"
      [disabled]="sendEmailForm.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send Email</span>
    </button>
  </form>
</section>
<!--End Send Email -->
<!--Start Verify Reset Code -->
<section *ngIf="step2">
  <form
    class="mx-auto my-5 form-login bg-color txt"
    [formGroup]="resetCodeForm"
    (ngSubmit)="handleresetCodeForm(resetCodeForm)"
  >
    <h3 class="title">Verify Reset Code</h3>
    <!-- Code -->
    <label for="email" class="fw-bold txt-color">ResetCode:</label>
    <input
      type="text"
      id="resetCode"
      class="form-control my-2"
      placeholder="resetCode"
      formControlName="resetCode"
      [ngClass]="{
        'is-invalid':
          resetCodeForm.get('resetCode')?.invalid &&
          resetCodeForm.get('resetCode')?.touched,
        'is-valid':
          resetCodeForm.get('resetCode')?.valid &&
          resetCodeForm.get('resetCode')?.touched
      }"
    />
    <div
      class="alert alert-danger p-1"
      *ngIf="
        resetCodeForm.get('resetCode')?.errors &&
        resetCodeForm.get('resetCode')?.touched
      "
    >
      <p
        *ngIf="resetCodeForm.get('resetCode')?.getError('required')"
        class="m-0 text-danger"
      >
        resetCode is required
      </p>
      <p
        *ngIf="resetCodeForm.get('resetCode')?.getError('resetCode')"
        class="m-0 text-danger"
      >
        resetCode is inValid
      </p>
    </div>
    <button
      type="submit"
      class="btn bg-main text-white d-block mx-auto mt-3"
      [disabled]="resetCodeForm.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send resetCode</span>
    </button>
  </form>
</section>
<!--End Verify Reset Code -->
<!--Start Reset Password -->
<section *ngIf="step3">
  <form
    class="mx-auto my-5 form-login bg-color txt"
    [formGroup]="resetpasswordForm"
    (ngSubmit)="handleresetpasswordForm()"
  >
    <h3 class="title">New Password</h3>
    <!-- Code -->
    <label for="email" class="fw-bold txt-color">New Password:</label>
    <input
      type="password"
      id="newPassword"
      class="form-control my-2"
      placeholder="New Password"
      formControlName="newPassword"
      [ngClass]="{
        'is-invalid':
          resetpasswordForm.get('newPassword')?.invalid &&
          resetpasswordForm.get('newPassword')?.touched,
        'is-valid':
          resetpasswordForm.get('newPassword')?.valid &&
          resetpasswordForm.get('newPassword')?.touched
      }"
    />
    <div
      class="alert alert-danger p-1"
      *ngIf="
        resetpasswordForm.get('newPassword')?.errors &&
        resetpasswordForm.get('newPassword')?.touched
      "
    >
      <p
        *ngIf="resetpasswordForm.get('newPassword')?.getError('required')"
        class="m-0 text-danger"
      >
        new Password is required
      </p>
      <p
        *ngIf="resetpasswordForm.get('newPassword')?.getError('newPassword')"
        class="m-0 text-danger"
      >
        new Password is inValid
      </p>
    </div>
    <button
      type="submit"
      class="btn bg-main text-white d-block mx-auto mt-3"
      [disabled]="resetpasswordForm.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="!isLoading">Send new Password</span>
    </button>
  </form>
</section>
<!--End Reset Password -->