<footer class="py-5 bg-color">
    <div class="container-fluid-lg container">
  <div class="heading">
    <h3 class="fw-bold txt-color">Get The FreshCart app</h3>
    <p class="txt-grey fw-bold">
      we will send you a link, open it in your phone to download app
    </p>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-9 mb-3">
      <input type="email" class="form-control txt-color bg-sec" placeholder="Email" />
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn bg-main text-white w-100">Share App Link</button>
    </div>
  </div>
  <div
    class="row mt-5 justify-content-center align-items-center bordered-row"
  >
    <div class="col-md-6  mb-3">
      <div class="d-flex justify-content-center align-items-center flex-column flex-row-lg">
        <span class="txt-color fw-bold txt-grey">Payment Partners </span>
        <div class="">
          <img src="assets/images/amazon.png" alt="img" width="80px" />
          <img src="assets/images/americanExpress.png" alt="img" width="80px" />
          <img
            src="../../../assets/images/mastercard.png"
            alt="img"
            width="80px"
          />
          <img src="assets/images/paypal.png" alt="img" width="80px" />
        </div>
      </div>
    </div>
    <div class="col-md-6  mb-3">
      <div class="d-flex justify-content-center align-items-center flex-column flex-row-lg">
        <span class="txt-color fw-bold txt-grey"> Get deliveries with FreshCart </span>
        <div class="">
          <img src="assets/images/googleplay.png" alt="img" width="130px" />
          <img src="assets/images/appstore.png" alt="img" width="130px" />
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

